.newoptiontable{
	border-collapse: collapse; 
	border: 1px solid #eee;
}

.newoptiontable td {
	vertical-align: middle;
	padding: 5px 5px;
}

.newoptiontable > tbody > tr:first-child {
	background-color: #f5f5f5
}
