#logo,#cart,#search,#site_search, #welcome,#sg_drpdwn_currency,.links{display:none !important;}
.pagination>.links {display:block !important;}
#header_bar>#header_bar2>span #cart{top:auto !important;}
#header_bar>#header_bar2>span #cart #cart-total{background:url() !important;padding-left:0px !important;}
span.links {display:block !important;}

#header_bar {
	background: url('h_banner_1/header_bg.png') 0 0 repeat-x;	
	height:37px;
	position: fixed;
	z-index: 9999;
	width: 100%;
	left: 0px;
	top: 34px;
}
		
#header_bar2 { 
	width: 1050px;
	margin:0px auto!important; 
	padding: 8px;
	height:15px;
} 		
							
#header_bar span{
	padding-left:6px;
	padding-right:6px;
	color:white;
		}

#header_bar span a{
	color:white;
	font-size: 0.95em;
								
		}
							
#header_bar div div,#header_bar span{
	float:left;
		}
							
#header_bar .line_break {
		background:url('h_banner_1/h_divider.png');
		height:17px;
		background-repeat: no-repeat;
		background-position: center center;
			}
			

							
#header_bar #h_cart {
		background:url('image/data/cart.png');
		width: 16px;
		height: 16px;
			}
							
#header_bar #arrw_dwn {
		background:url('catalog/view/theme/default/image/arrow-down.png');
		width: 10px;
		height: 5px;
			}
							
#header_bar #sg_drpdwn_currency {
		display:block !important;
		margin-top: 2px;

		}
							
#header_bar #sg_drpdwn_currency #currency_switcher_language {
		right:auto !important;
		top:auto !important;
		position:relative;
		}
							
#header_bar #sg_drpdwn_currency .switcher span.s_selected, .switcher li, .switcher li a {
							
		height:auto;
		line-height: 18px;
			}
							
#header_bar #sg_drpdwn_currency .switcher span.s_selected {
		float:none;
		padding-left:0px;
		padding-right:0px;
		height: 15px;
		font-size:10px;
		line-height: 15px;
		}
							
#header_bar #sg_drpdwn_currency .switcher{
		background-position: 93% 6px;
		}

#header_bar #search {
		display:block !important;
		top:auto;
		right:auto;
		width:auto;
		position:relative;		
}
							
#header_bar #search input {
		width:83px;
		height: 13px;
		font-size: 11px;
		padding: 1px 1px 1px 25px;
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-khtml-border-radius: 0 0 0 0;
	border-radius:0 0 0 0;
	-webkit-box-shadow: 0px 0px 0px #F0F0F0;
	-moz-box-shadow: 0px 0px 0px #F0F0F0;
	box-shadow: 0px 0px 0px #F0F0F0;	
		}
							
#header_bar .button-search {
		position: absolute;
		left: 0px;
		background: url('../image/button-search.png') center center no-repeat;
		border-right: 1px solid #CCCCCC;
		cursor: pointer;
		width: 16px;
		height: 16px;
		padding:0px;
			}

#header_bar #cart {
		display:block !important;
		position:relative;
		right:auto;
		min-width:0px;
		z-index:1001;
		background:url('h_banner_1/h_cart.png');
		background-repeat: no-repeat;
		background-position: top left;
		padding-left: 20px;
}
						
#header_bar #cart .heading {
		float:none;
		margin-right: 0px;
		margin-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
		border-top: none;
		border-left: none;
		border-right: none;
		background: white;
				}
							
#header_bar #cart .heading a span {
		background-color : transparent;
			}
							
#header_bar #cart .heading h4 {
		display:none;
			}
#header_bar #cart .content {
		position:absolute;
		z-index: 1;
		-webkit-border-radius: 7px 7px 7px 7px;
		-moz-border-radius: 7px 7px 7px 7px;
		-khtml-border-radius: 7px 7px 7px 7px;
		border-radius: 7px 7px 7px 7px;
		color:black;
				}
#header_bar #cart .content a{
color:black;
}
							
#header_bar #cart .content .checkout a {
		color:red;
		font-size:10px;
			}
							
#header_img {
		margin-top: 10px;
		/*height: 100%;*/
		background-repeat: no-repeat !important;
		background-position: center !important;
			}
			
#header_bar #sg_drpdwn_currency .switcher {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-khtml-border-radius: 0px;
border-radius: 0px;
border: none;
}

#header_bar #sg_drpdwn_currency .switcher .option {
position: absolute;
background-color: white;
/*width: 100%;hidebywl*/
/*add bywl */
width: auto;
white-space: nowrap;
padding-right: 5px;
/*end add bywl */
border-bottom: 1px solid #EDEDED;
}

#header_bar #sg_drpdwn_currency #currency_switcher_language {
		margin-top: 0px;					
}