#black_background{
	position: fixed; 
	top: 0px; 
	right: 0px; 
	bottom: 0px; 
	left: 0px; 
	background-color: rgba(0, 0, 0, 0.7);  
	display:none; 
	z-index: 10000;
}

#append_modal{
	position: fixed; 
	background-color:white; 
	display:none; 
	z-index: 10001;  
	margin: auto; 
	width: 800px; 
	height: auto; 
	left: 50%; 
	top: 50%; 
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%, -50%);
	border-radius: 5px;
	padding: 15px;
	min-height: 220px;
}

#close_button2{
	position: absolute;
	right: -15px;
	top: -15px;
}

.warning, .success, .success > a {
	margin-top: 0px; 
	margin-bottom: 0px; 
	font-size: 15px;
}

.status {
	text-align: center;
	margin-bottom: 10px;
}

.pop-up-cart{
	float:left;
	width:48%;
	display: inline-block;
	padding: 10px 0px;
	border-radius: 3px; 
	border: 1px solid #EEEEEE; 
	min-height: 185px;
	text-align: left;
}

.pop-up-cart img {
	margin-right: 10px;
}

.pop-up-total{
	float: right;
	width: 48%;
	display: inline-block;
	vertical-align: top;
	min-height: 185px; 
	position: relative;
	padding: 10px 0px; 
	border: 1px solid #EEEEEE; 
}

.pop-up-pricing {
	float: left; 
	width:100%; 
	border-radius: 3px; 
	color:black;
	text-align: left;
}

.pop-up-pricing > table {
	width: 100%;
}

.pop-up-button {
	bottom: 0;
	text-align: center;
	width: 100%;
	margin-top: 15px;
}

#continue_shopping {
	color: #337ab7;
	font-size: 14px;
	display: inline-block;
	float: left;
	padding: 12px 5px;
}

#checkout-button{
	color: #fff !important; 
	background: rgba(243, 112, 33, 0.94); 
	cursor: pointer;  
	border-radius: 3px; 
	font-size: 16px;
	padding: 12px 25px;
	display: inline-block;
	text-align: center;
	float: right;
}

#carousel_box {
	display: inline-block;
	width: 100%;
	margin-top: 25px !important;
	margin-bottom: 25px !important;
    padding-top: 15px !important;
    border-top: 1px solid #EEE !important;
}

.discount-price {
	font-weight: bold; 
	font-size:13px; 
	text-decoration: line-through;
	width: auto;
	display: inline-block;
}

.normal-price {
	font-weight: bold; 
	font-size:14px; 
	width: auto;
}

.special-price{
	font-weight: bold;
	display: inline-block;
	color: red;
}

.item-info{
	padding: 5px 0px;
	font-size:14px;
}

.item-discount{
	font-size: 14px;
    background: red;
    padding: 2px 6px;
    display: inline-block;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.pricing-title{
	 width:43%; 
	 font-size:14px; 
	 padding: 5px 0px;
	 color: #666;
}

.pricing-amount{
	text-align: right; 
	padding: 8px 0px;
	color: #666;
}

.pop-up-pricing > table > tbody > tr:last-child {
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

.pop-up-pricing > table > tbody > tr:last-child > .pricing-amount{
	font-weight: bold;
	font-size: 14px;
	color : #000;
}

.pop-up-pricing > table > tbody > tr:last-child > .pricing-title{
	font-weight: bold;
	font-size: 14px;
	color : #000;
}

.jcarousel-pagination {
	bottom: -30px !important;
}

.jcarousel > ul > li > a >div {
	display: block;
}

.jcarousel img {
	width: 60%; 
}

.jcarousel-wrapper {
	border: none !important;
	padding: 0px !important;
	margin: 0px; !important;
}

.YMNT-title{
	display: inline-block;
	margin: 5px 0px;
	font-size: 15px;
	margin-bottom: 15px;
}

#carousel_box > div > ul > li > a > div {
	margin-left: 35px;
	margin-right: 35px;
	text-align: center;
}

.ymnt-product-name{
	font-size:14px;
}

.ymnt-product-special-price{
	font-size: 14px;
}

/*CSS for non responsive template*/
.pricing-title, .pop-up-pricing > table> tbody> tr> td> div  , #continue_shopping{
	padding-left: 10px;
}

.pricing-amount{
	padding-right: 10px;	
}

#checkout-button{
	margin-right: 10px;
}

.pop-up-cart > table {
	margin-left: 10px;
}

@media (max-width: 768px) {
	
	.pop-up-cart{
		float: none;
		width: 100%;
		margin: 5px 0px;
		min-height: initial;
	}

	.pop-up-total{
		float: none;
		width: 100%;
		margin: 5px 0px;
		min-height: initial;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.pop-up-pricing {
		margin-bottom: initial;
	}
	
	.pop-up-button {
		position: initial;
		text-align: center;
	}

	#append_modal{
		width: 90%;
	}
	
	#continue_shopping {
		padding: 12px 30px;
		width: 100%;
	}
	
	#checkout-button{
	    padding: 12px 30px;
		width: 100%;
		margin: 0px;
	}
}

/* DETECT MOBILE HEIGHT */
@media (max-height: 736px) {
	.pop-up-frame {
		max-height: 650px;
	}
	
	.YMNT-title{
		display: block;
		text-align: center;
	}
}


@media (max-height: 670px) {
	.pop-up-frame {
		max-height: 550px;
	}
}

@media (max-height: 568px) {
	.pop-up-frame {
		max-height: 500px;
	}
}

/*Enable overflow on mobile device*/
@media (max-width: 480px) {		
	.pop-up-frame{
		overflow: auto;
	}
}
