#sg_drpdwn_currency .switcher {
    background: url("../image/arrow-down.png") no-repeat scroll 93% 12px;
    border-color: #EDEDED;
    border-style: solid;
    border-width: 1px;
    padding-right: 20px;
    position: absolute;
    /*width: 102px;-wlhide*/
    z-index: 1000;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
}
#sg_drpdwn_currency .switcher .option {
    cursor: pointer;
    display: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
}

#sg_drpdwn_currency .switcher span.s_selected, .switcher li, .switcher li a {
    color: #787878;
    display: block;
    height: 27px;
    line-height: 28px;
    text-indent: 9px;
}
#sg_drpdwn_currency .switcher li a{
	color: #787878;
	text-decoration: none;
}
#sg_drpdwn_currency .switcher li a:hover{
	/*color:#C42043;*/
	text-decoration: none;
}
#sg_drpdwn_currency #currency_switcher {
	right:248px;
	top: 24px;
 }
 
#sg_drpdwn_currency #currency_switcher_language {
    right: 310px;
	top: 24px;
}


#sg_drpdwn_currency .switcher img {
    display: inline;
    margin: -2px 3px 0 0;
    vertical-align: middle;
}
#sg_drpdwn_currency #currency_switcher {
    right: 226px;
	top: 17px;
}


#sg_drpdwn_currency #currency {
	line-height: 17px;
	float:right;
	margin-left:15px;
}
#sg_drpdwn_currency #currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#sg_drpdwn_currency #currency a b {
	
	text-decoration: none;
}
