#product_image_preview_holder,#product_image_preview
{
	position: relative !important; /*shoppica2&1*/
}

.box-product 
{
    overflow: visible;
}

.image,
.product_image
{
	/*uncomment if any issue with mouseover on images */
	/* changed to fix overflow label issue 
	overflow: hidden; */
	position: relative !important;
}

/* 
.product-info .image 
{
	overflow: visible; uncomment if any issue with mouseover on images
}
*/
.product-grid .m001_label,
.product-list .m001_label,
.box-product .m001_label
{
	padding: 4px;
}
@-moz-document url-prefix() {  
	.product-grid .m001_label,
	.product-list .m001_label,
	.box-product .m001_label
	{
		padding: 4px;
	}
}


.cut_rotated
{
	height: 100%;
	/* left: 0%; fix product label keep going left issue  bagshop.my for this server*/
	overflow: hidden;
	padding-left:0px;
	padding-top: 1px;
	position:absolute;
	top: 0%;
	width: 100%;
}

.small-db, .big-db
{

	color: #FFFFFF;
	position:absolute;
	text-align:center;
	transition: all .5s ease;
	-webkit-transition: all 0.5s ease;
	background-size: contain;
	z-index: 1;
	overflow: hidden;
}

.small-db.bottom_left,
.big-db.bottom_left
{
	line-height: 1em;
	min-height: 1em;
	bottom: 0.25%;
	left: 0.15%;
}

.small-db.bottom_right,
.big-db.bottom_right
{
	line-height: 1em;
	min-height: 1em;
	bottom: 0.25%;
	right: 0%;
}


.small-db.top_left,
.big-db.top_left
{
	line-height: 1em;
	min-height: 1em;
	top: 0%;
	left: 0.15%;
	
}

.small-db.top_right,
.big-db.top_right
{
	line-height: 1em;
	min-height: 1em;
	/* initially is 0, if there is any problem change it back to 0. This is to fix product listing overflow problem */
	right: 4%;
	top: 0%;
}

.instock
{
	color: #6DA50C;
}

.outofstock
{
	color: #E32122;
}
.top_left {
	background-position: top left !important;
}

.top_right {
	background-position: top right !important;
}

.bottom_right {
	background-position: bottom right !important;
}

.bottom_left{
	background-position: bottom left !important;
}
/*
.product-grid > div
{
	width: auto !important;
	margin-right: 5px;
}
*/

.mc-modal {
    z-index: 10001 !important;
}

.mc-modal-bg {
   
    z-index: 10000 !important;
 
}

