body {
	/*background: #ffd6d6 url('../image/style1/bg.png') 0 0 repeat-x;*/
	background: url('../image/light-texture.png') 0 0 repeat;
}

/* layout */

#container_inner {
	/*border: 1px solid #ccc;	
	-webkit-box-shadow: 0px 3px 6px #d9a2a2;
	-moz-box-shadow: 0px 3px 6px #d9a2a2;
	box-shadow: 0px 3px 6px #d9a2a2;*/	
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius:10px;
	border-radius: 10px;*/

}

a, a:visited, a:link, a b {
color: #fe67ae;
}
a:hover {
	color: #fc3588;
}

/* menu */ 
#menu {
	border-bottom: 2px solid #fe67ae;
	/*background: url('../image/style1/menu.png');
	border-bottom: 1px solid #cc0000;

	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;*/
}

#menu > ul > li > a {
	/*color: #FFF;
	text-shadow: 1px 1px 2px #000;*/
}

#menu > ul > li:hover > a {
	/*background: #f25555;*/
	color: #fe67ae;
	
}

#menu > ul > li > div {

	/*background: #FFFFFF;
	border: 1px solid #cc0000;
	border-top:1px solid #ff8585;
	background: url('../image/style1/menu-sub.png');*/
}

#menu > ul > li ul > li > a {
	/*text-shadow: 1px 1px 2px #000;*/
}

#menu > ul > li ul > li > a:hover {
	/*background: #f25555;*/
	color: #fe67ae;
}

.slideshow{
border-bottom: 2px solid #fe67ae;
/*border-top: 2px solid #fe67ae;
margin-left: -8px;
margin-right: -8px;*/
}


#header .links a:hover {
	color: #fe67ae;
}

/* button */ 
a.button, input.button {
	background: #fe67ae;
	border: 1px solid #fc3588;
	/*color: #FFFFFF;
	background:url('../image/style1/button.png') top left repeat-x;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;*/

}

a.button:hover, input.button:hover {
	/*background: url('../image/style1/button-active.png') repeat-x;*/
	background: #e82174;
}

/* box */ 

.box .box-heading {
	/*border: 1px solid #DBDEE1;
	background: url('../image/style1/m-heading-grey.png') repeat-x;
	color: #777;*/
	padding-bottom: 18px;
    margin-bottom: 10px;
    margin-top: 0px;
	border-bottom: 2px solid #fe67ae;
}

#s1 .box-heading {
	/*border: 1px solid #ed6464;
	border-bottom:0px;
	background: url('../image/style1/m-heading-style.png') repeat-x;
	color: #fff;*/
	padding-bottom: 18px;
    margin-bottom: 18px;
    margin-top: 0px;
	border-bottom: 2px solid #fe67ae;


}

.box .box-content {
	/*background: #FFFFFF;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;*/
	

}

/*.box-category > ul > li {
	background: url('../image/style1/m_style_list.png') 0px 10px no-repeat;
}*/
.box-category > ul > li > a {
/*color: #fe67ae;*/
}

.box-category > ul > li a.active {
	font-weight: bold;
	color: #fe67ae;
}

.box-category > ul > li > a:hover{
	/*color: #999;*/
	color: #fe67ae;
}



.box-content > ul > li a.active  {
color: #fe67ae;
}

.box-content > ul > li > a:hover {
color: #fe67ae;
}

.jcarousel-skin-opencart .jcarousel-next-horizontal {	
	background-color: #fe67ae;
}

.jcarousel-skin-opencart .jcarousel-prev-horizontal {
	background-color: #fe67ae;
}

#footer .column h3 a {
color:#333333;
}

#footer .horizontal_foot a {
color:#333333 !important;
font-size: 20px;
}

#footer .column a:hover {
	color:#fe67ae;
}

#footer .horizontal_foot a:hover{
	color:#fe67ae !important;
}

#powered {
border-top: 2px solid #fe67ae;
width: 980px;
}

.powered a { color: #fe67ae !important; font-size: 11px;}

.pagination .links b {
	display: inline-block;
	border: 1px solid #fe67ae;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #fe67ae;
	background: #FFFFFF;
}