.product-grid .countdown{
    display: inline-block;
}

.product-grid .label{
	display:block;
	word-spacing:7px;
	color:grey; 
	text-align:center;
	font-size:80%; 
	margin-top:-1px;
}

.product-list .countdown{
	display: inline-block;

}

.product-list .label{
	word-spacing:8.5px; 
	color:grey; 
	text-align:center;
	font-size:80%; 
	margin-top:1px;
	
}

.product-info .countdown{
	padding-left:22px; 
	display:inline-block;
	margin: 10px 0px 15px 0px;
}

.product-info .label{
	word-spacing:8px; 
	color:grey; 
	text-align:center;
	font-size:80%; 
	margin-top:-2px
}

.box-product .countdown{
	display: inline-block;

}

.box-product .label{
	word-spacing:8.5px; 
	color:grey; 
	text-align:center;
	font-size:80%; 
	margin-top:-1px;
	display: block;
}

.wishlist-info .countdown{
	padding-left:20px;
	display: inline-block;
}

.wishlist-info .label{
	word-spacing:7px; 
	color:grey;
	margin-left:26px;
	font-size:80%; 
	margin-top:-1px
}

.wishlist-info .label{
	word-spacing:9px \0/IE9; 
	color:grey \0/IE9; 
	margin-left:25px \0/IE9; 
	font-size:80% \0/IE9; 
	margin-top:-1px \0/IE9
}

.product-info .label{
	word-spacing:9px \0/IE9; 
	padding-left:24px \0/IE9;
	color:grey \0/IE9; 
	text-align:center \0/IE9;
	font-size:80% \0/IE9; 
	margin-top:-1px \0/IE9
}
