/*@font-face {
    font-family: 'benchnine';
    src: url('../font_coloris/BenchNine-Light.ttf');
    src: url('../font_coloris/BenchNine-Bold.ttf'),
         url('../font_coloris/BenchNine-Regular.ttf');
}*/


html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	color: #777777;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}

h1, .welcome {
	/*color: #636E75;*/
	color: #777777;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 23px;
	font-weight: 700;
	/*text-shadow: 0 0 1px rgba(0, 0, 0, .01);*/
	font-family: 'benchnine';
}

/*This will work for firefox*/
@-moz-document url-prefix() {
h1, .welcome {
font-weight: 400;
}
}

h2 {
	color: #777777;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: bold;
}
p {
	margin-top: 0px;
	margin-bottom: 0px;
}
a, a:visited, a b {
	/*color: #38B0E3;*/
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	/*color:#87ccf3;*/
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
/* style chooser */

#stylechooser{ padding:4px;text-align:center; background:#000; position:fixed; z-index:100000; top:0; width:100%; }
#stylechooser1{width:1000px; margin:0 auto;}
#stylechooser2{ float:left; color:#fff; font-size:10px; margin-right:30px; margin-top:5px;}
#stylechooser2 .st-icon img{ padding-left:3px; width:13px; height:13px;}
#sc_img{float:left;}
#disclaimer{ color:#fff; font-size:10px; display:block; text-align:left; margin-left:30px;}

/* layout */
#container {
	/*width: 990px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:20px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top:10px;
	margin-bottom:20px;
	background:#fff;*/
	margin: auto;
	width: 1018px;
	/*padding-bottom: 30px;*/

}
#container_inner {
	background: none repeat scroll 0 0 #FFFFFF;
	overflow: hidden;
	width: 1018px;
	/*padding-bottom: 55px;*/
}
#column-left {
	float: left;
	/*width: 180px;*/
	width: 241px;
	padding-left: 19px;	
}
#column-right {
	float: right;
	/*width: 180px;*/
	width: 241px;
	padding-right: 19px;
}
#content {
	/*min-height: 700px;*/
	margin-bottom: 25px;
	padding: 0px 19px;
	
	/*margin-left: 30px;*/
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 262px;
	margin-top: 20px;
}
#column-right + #content {
	margin-right: 262px;
	margin-top: 20px;
}

/* header */
#header {
	/*margin-bottom: 7px;
	padding-bottom: 4px;*/
	position: relative;
	z-index: 99;
	
margin: 0 auto;
/*margin-top: 19px;
padding-bottom: 70px;*/
width: 1018px;
background: #ffffff;
/*-webkit-border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
-khtml-border-radius: 10px 10px 0px 0px;
border-radius: 10px 10px 0px 0px;*/
}
#header #logo {
	position: relative;
float: left;
margin-top: 20px;
margin-left: 50px;
}
#language {
	position: absolute;
	top: 15px;
	left: 320px;
	width: 80px;
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
	margin-right: 5px;
}
#currency {
	width: 75px;
	position: absolute;
	top: 15px;
	left: 425px;
	color: #999;
	line-height: 17px;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	color: #999;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #000;
	text-decoration: none;
}

#header_bar #search input {

margin-left:0px !important;

}

#header_bar #cart .content {
top: -5px !important;
}

#header_bar #cart .heading {
min-width:0px !important;
}
#header #cart {
	position: relative;
	margin-right: 41px;
	/*top: 0px;
	right: 145px;*/
	height:20px;
	z-index: 16;
	/*min-width: 300px;	
	bottom: 3px;*/
	float: right;
	min-width: 275px;
	
}
#header #cart .heading {
	float: right;
	/*
	margin-right: 172px;
	margin-top: 15px;
	padding-left: 14px;
	padding-right: 14px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #EEEEEE;
	background: #FFF;
	position: relative;*/
	z-index: 1;
}
#header #cart .heading h4 {
	color: #777777;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
	/*display: inline;
	margin-right: 13px;*/
}
#header #cart .heading a {
	/*color: #38B0E3;*/
	text-decoration: none;
}
#header #cart .heading a span {
	background: url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: absolute;
	right: 0px;
	margin-top: 37px;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	min-width: 300px;
	/*border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;*/
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	/*-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;*/
	background: #FFF;
}
#header #cart.active .heading {
	/*margin-top: 5px;
	padding-top: 10px;*/
	padding-bottom: 6px;
	float: right;
	right: 0px;
	top: 24px;
	/*border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;*/
}
#header #cart.active .content {
	display: block;
}
#header_bar2 #cart.active .content {
	margin-top:0px;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	white-space:nowrap;
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #777777;
	padding: 4px;
}
#header #cart .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
	color: #777777;
}


#header #search {
	position: relative;
	float:right;
	clear:both;
	/*top: 15px;
	right: 0px;*/
top: 30px;
right: 19px;
	/*width: 298px;*/
	/* z-index: 15; */
	z-index: 999999;
}
#header .button-search {
	position: absolute;
	left: 0px;
	background: url('../image/search.png') center center no-repeat;
	width: 28px;
	height: 24px;
	/*border-right: 1px solid #CCCCCC;*/
	cursor: pointer;
}
#header #search input {
	background: #FFF;
	padding: 1px 1px 1px 9px;
	margin-left: 33px;
	width: 142px;
	height: 21px;
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	/*-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;*/
	color: #777777;
}


#header #welcome {
	position: absolute;
	top: 116px;
	right: 18px;
	z-index: 5;
	width: 298px;
	text-align: right;
	color: #777777;
}

#header .links {
	/*position: absolute;
	right: 0px;
	bottom: 3px;
	font-size: 10px;
	padding-right: 10px;*/
	
position: relative;
float:right;
height:auto;
padding-right: 10px;
}
#header .links a {
	float: left;
	display: block;
	padding: 0px 0px 0px 7px;
	color: #777777;
	text-decoration: none;
	font-size: 12px;
}

#header .links a + a {
	margin-left: 8px;
	/*border-left: 1px solid #CCC;*/
}
/* menu */
#menu {
	height: 37px;
	/*-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	*/
	padding: 0px;
	/*s_sitegiant*/
	position: relative;
	clear: both;	
	/*s_sitegiant*/
}
#menu ul {
	list-style: none;
	margin: 0;
	/*padding: 0;*/
	padding: 0px 10px 10px;
}
#menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
	/*padding: 6px 5px 5px 0px;*/
}
#menu > ul > li:hover {
}

#menu > ul > li > a {
	/*font-size: 13px;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 6px 10px 6px 10px;
	margin-bottom: 5px;
	z-index: 6;
	position: relative;*/
font-family: 'benchnine';
font-size: 23px;
/*font-weight: 700;*/
color: #777777;
line-height: 14px;
text-decoration: none;
display: block;
padding: 12px 21px 11px 9px;
z-index: 6;
position: relative;
/*letter-spacing: -1px;*/
}

/*This will work for firefox*/
@-moz-document url-prefix() {
#menu > ul > li > a {
font-weight: 400;
}
}

#menu > ul > li:hover > a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#menu > ul > li > div {
	/*display: none;
	position: absolute;
	z-index: 5;
	padding: 5px;

	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;*/
	
display: none;
position: absolute;
z-index: 5;
background: #FAFAFA;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li > div > ul > li {
padding: 2px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	/*color: #FFFFFF;*/
	display: block;
	white-space: nowrap;
	min-width: 120px;
}

#menu > ul > li > div > ul > li > a {
	/*color: #FFFFFF;*/
	color: #777777;
}
.breadcrumb {
	color: #CCCCCC;
	margin-bottom: 10px;
	padding-top: 13px;
}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-top: 10px;
	margin-bottom: 15px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
	vertical-align: top;
}
table.radio td label {
	display: block;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr td:first-child input {
	margin-top: 1px;
}
table.radio tr.highlight:hover td {
	background: #F1FFDD;
	cursor: pointer;
}
.pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}
.pagination .results {
	float: right;
	padding-top: 3px;
}
/* button */
a.button, input.button {
	/*color: #FFFFFF;
	font-weight: bold;	
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;*/
	
cursor: pointer;
color: #ffffff!important;
line-height: 12px;
font-size: 11px!important;
text-transform: uppercase;
background: url('../image/button.png') top left repeat-x;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-khtml-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;



}
a.button {
	/*display: inline-block;
	text-decoration: none;
	padding: 3px 12px 6px 12px;*/
	
	display: inline-block;
	text-decoration: none;
	padding: 6px 12px 6px 12px;
}
input.button {
	/*margin: 0;
	border: 0;
	height: 24px;
	padding: 0px 12px 0px 12px;*/
display: inline-block;
text-decoration: none;
padding: 6px 12px 6px 12px;
}

@-moz-document url-prefix() {
   .cart .button, #mc-embedded-subscribe {
padding: 4px 12px;
}
}


.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
}
.htabs a {
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px 15px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs a.selected {
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content {
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}

#tab-related .box-product div{ text-align:center; }
/* box */
.box {
	margin-bottom: 20px;
}
.box .box-heading {
font-size: 23px;
line-height: 16px;
padding-top: 10px;
margin-bottom: 10px;
padding-bottom: 13px;
font-family: 'benchnine';
/*font-weight: 700;*/
}

/*This will work for firefox*/
@-moz-document url-prefix() {
.box .box-heading {
font-weight: 400;
}
}

#column-left #s1 .box-heading {
font-size: 23px;
line-height: 16px;
padding-top: 10px;
margin-bottom: 10px;
padding-bottom: 13px;
font-family: 'benchnine';
/*font-weight: 700;*/
}

/*This will work for firefox*/
@-moz-document url-prefix() {
#column-left #s1 .box-heading {
font-weight: 400;
}
}

#column-right .box .box-heading {
font-size: 23px;
line-height: 16px;
padding-top: 10px;
margin-bottom: 10px;
padding-bottom: 13px;
font-family: 'benchnine';
/*font-weight: 700;*/
}

/*This will work for firefox*/
@-moz-document url-prefix() {
#column-right .box .box-heading {
font-weight: 400;
}
}

#column-left #s1{
	padding: 0 25px 13px 0px;
	
}

#column-left .box{
	padding: 0 25px 13px 0px;
	
}

#column-right .box{
	padding: 0 0px 13px 0px;
	
}
#column-left .box .box-content {
	/*-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	padding: 10px;*/
	padding: 0px;
}
#column-left #s1 .box-content {
	/*-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	padding: 10px;*/
	padding: 0px;
}
#column-right .box-content {
	/*-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	padding: 10px;*/
	padding: 0px;
}
.box #list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.box #list > ul > li { padding: 5px 8px 5px 12px; background: url('../image/m_style_list.png') 0px 10px no-repeat;}
.box #list > ul > li  + li{ border-top: 1px solid #EEEEEE; }
.box #list > ul > li  > a{ text-decoration: none; color: #333; }
.box #list > ul > li  > a:hover{ color: #999; }

/* box products */
.box-product {
	width: 102%;
	overflow: auto;
}
.box-product > div {
	/*display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px*/
	width: 176px;
display: inline-block;
vertical-align: top;
margin-right: 21px;
margin-bottom: 15px;
}
.box-product > div.left1 {
	width: 138px;
}

#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	/*display: block;
	margin-bottom: 0px;
	text-align:center;*/
	
display: block;
margin-bottom: 0px;
background: url("../image/prheading.png") no-repeat scroll center bottom transparent;
padding: 0 0 10px;
}
.box-product .image img {
	/*padding: 3px;
	border: 1px solid #E7E7E7;*/
	
border: 1px solid #eaeaea;
display: block;
position: relative;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

}
.box-product .name a {
	/*color: #38B0E3;*/
	font-weight: normal;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
	text-align:center;
	font-size: 12px;
}

.box-product .cart{ text-align:center; }

.box-product .name {
font-size: 12px;
text-decoration: none;
display: block;
margin-bottom: 5px;
text-align: center;	
font-weight: normal;
}

.box-product .price {
	display: block;
	font-weight: normal;
	color: #555555;
	text-align:center;
	margin-bottom: 10px;
	font-size: 14px;
	
}
.box-product .price-old {
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	text-align: center;
	display: block;
	margin-bottom: 4px;
}

/*SG_box content */

.box-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#column-left #s1 .box-content ul {
margin: 0px;
padding: 0px;
list-style-type: none;
}
#column-left .box .box-content ul {
margin: 0px;
padding: 0px;
list-style-type: none;
}
.box-content > ul > li {
	padding: 5px 8px 5px 12px;
}

#column-right .box-content > ul > li {
	padding: 8px 8px 8px 0px;
}

#column-left .box-content > ul > li {
	padding: 8px 8px 8px 0px;
}

.box-content > ul > li + li {
	border-top: 1px dotted #D5D5D5;
}

.box-content > ul > li > a {
color: #777777;
}

#column-left .box-content > ul > li + li {
	border-top: 1px dotted #D5D5D5;
	
}
.box-content > ul > li > a {
	text-decoration: none;
	/*color: #333;*/
}

.box-content > ul > li > a:hover{
	/*color: #999;*/
	color: #555555;
}

.box-content > ul > li ul {
	display: none;
}
.box-content > ul > li a.active {
	font-weight: bold;
}
.box-content > ul > li a.active + ul {
	display: block;
}
.box-content > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.box-content > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.box-content > ul > li ul > li > a.active {
	font-weight: bold;
}

/*.box-content > ul > li  {
	background: url('../image/m_style_list.png') 0px 10px no-repeat;
}*/
/*End SG_box content*/

/* box category */
.box-category {
	margin-top: -5px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
	/*padding: 5px 8px 5px 12px;*/
	padding: 8px 8px 8px 0px;
}



.box-category > ul > li + li {
	/*border-top: 1px solid #EEEEEE;*/
	border-top: 1px dotted #D5D5D5;
	
}
.box-category > ul > li > a {
	text-decoration: none;
	color: #777777;
}

.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	font-weight: bold;
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
/* content */
#content .content {
	/*padding: 10px;*/
	overflow: auto;
	margin-bottom: 20px;
	/*border: 1px solid #EEEEEE;*/
}
#content .content p {
margin: 0;
margin-bottom: 20px;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* SIte Giant */
#content>p, #content>ol ,#content>ul , #content>form>.contact-info, #content>form>.content, #content>form>.buttons   {
	margin-right:20px;
}
/* End SIte Giant */
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 5px;
	overflow: auto;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list > div {
	overflow: auto;
	margin-bottom: 15px;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image {
	float: left;
	margin-right: 10px;
}
.product-list .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.product-list .name {
	margin-bottom: 3px;
}
.product-list .name a {
	/*color: #38B0E3;*/
	font-weight: bold;
	text-decoration: none;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
}
.product-list .price {
	float: right;
	height: 50px;
	margin-left: 8px;
	text-align: right;
	color: #333333;
	font-size: 12px;
}
.product-list .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
}
.product-list .wishlist a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left center no-repeat;
}
.product-list .compare a {
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') left 60% no-repeat;
}
.product-grid {
	width: 100%;
	overflow: auto;
}
.product-grid > div {
	width: 156px;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 15px;
}

#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 0px;
	
}
.product-grid .image img {
	padding: 3px;
	border: 1px solid #E7E7E7;
	background: url("../image/prheading.png") no-repeat scroll center bottom transparent;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.product-grid .name a {
	/*color: #38B0E3;*/
	font-weight: normal;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
	text-align:center;
	font-size: 12px;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	text-align: center;
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-weight: normal;
	color: #555555;
	margin-bottom: 10px;
	text-align:center;
	font-size: 14px;	
}
.product-grid .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
	text-align:center;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;

}
.product-grid .wishlist a {
	color: #555555;
	display: block;
	font-size:12px;
	text-align:center;
}
.product-grid .compare a {
	color: #555555;
	display: block;
	font-size:12px;
	text-align:center;
}

.product-grid .wishlist a:hover{ color:#999; }
.product-grid .compare a:hover { color:#999; }


/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 265px;
}
.product-info .image {
	border: 1px solid #E7E7E7;
	float: left;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}
.product-info .image-additional {
	margin-top: 5px;
	width: 260px;
	margin-left: -4px; /*Edited according cloud zoom*/
	clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
	border: 1px solid #E7E7E7;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 4px; /*Edited according cloud zoom*/
	margin-bottom: 10px;
}
.product-info .description {
	border-top: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;
	padding: 5px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description span {
	color: #777777;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 20px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #777777;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.review-list {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
.review-list .author {
	float: left;
	margin-bottom: 20px;
}
.review-list .rating {
	text-align: center;
	float: right;
	margin-bottom: 20px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer .column h3 a {
font-size:20px;
color:#333333;
}

#footer .horizontal_foot a:hover{
	text-decoration: none !important;
}
#footer {
	/*clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	background: #F8F8F8;*/
	margin: -1px auto 20px;
	width: 980px;
	padding: 0px 19px;
}
#footer h3 {
	/*color: #000000;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 8px;*/
	
	color: #333333;
	text-shadow: 0px 1px #fff;
	font-size: 20px !important;
	margin-bottom: 1px;
	font-weight: normal;
	text-transform: uppercase;
	font-family:'benchnine';
	/*font-weight: 700;*/
}

/*This will work for firefox*/
@-moz-document url-prefix() {
#footer h3 {
font-weight: 400;
}
}


#footer .column {
	float: left;
	width: 25%;
	min-height: 100px;
	margin-bottom: 5px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
}
#footer .column ul li {
	margin-bottom: 3px;
	list-style: none;
}
#footer .column a {
	/*text-decoration: none;
	color: #000;*/
	color: #777777;
	text-shadow: 0px 1px #fff;
	line-height: 22px;
	text-decoration: none;
	font-size: 12px;
	list-style: none;
}

#powered {
	/*margin-top: 5px;
	text-align: right;*/
	clear: both;
clear: both;
margin: 0 auto;
overflow: hidden;
padding: 17px 0 0;
position: relative;
text-align: center;
width: 980px;
/*background: url("../image/bg-copyright.png") no-repeat scroll center center transparent;
display: block;
height: 31px;
padding: 5px;
width: 890px;*/
margin-bottom: 20px;
}

.copyright{ float:left; /*margin-left:10px;*/ font-size:11px; color: #525252;}
.powered{ float:right; font-size:11px; /*margin-right:10px;*/ color: #525252;}


/* banner */
.banner div {
	text-align: center;
	width: 100%;
	display: none;
}
.banner div img {
	margin-bottom: 20px;
}

/* currency */
#header_bar #sg_drpdwn_currency .switcher .option {
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
-khtml-border-radius: 0 !important;
border-radius: 0 !important;
}
#sg_drpdwn_currency .switcher .option {
white-space: nowrap;
display: none;
float:right;
border: 1px solid rgb(237, 237, 237);
padding-right: 20px;
background-color: white;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
-khtml-border-radius: 7px;
border-radius: 7px;
}

#sg_drpdwn_currency #currency_switcher_language {
top: 0 !important;
right: 0px !important;
margin-right:5px;
	position: relative;
	float: right;
}

#currency {
	width: 75px;
	position: absolute;
	top: 15px;
	left: 425px;
	color: #999;
	line-height: 17px;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	color: #999;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #000;
	text-decoration: none;
}

#maincenter {
margin: 0 auto;
width: 1018px;
clear:both;
/*margin-top: 30px;*/
position: relative;
z-index: 1;
/*padding: 0 19px;*/
}

#top {
position: relative;
z-index: 4;
margin: 0px auto;
height: auto;
/*margin-left: -30px;*/
padding: 0;
width: 1018px;
/*margin-top: -30px;*/
padding-bottom: 19px;
}

@-moz-document url-prefix() {
   .cart .button, #mc-embedded-subscribe {
padding-bottom: 3px !important;
}
}

#header_bar2 #cart .checkout{
float:none;
}

#header_bar2 .mini-cart-total{
float:none;
}

#header_bar2 .mini-cart-info{
float:none;
}

#header_bar2 #cart .empty{
float:none;
}