.percent_arrow{
position: absolute;
border-style: solid;
border-width: 7px 7px 7px 0;
border-color: transparent red;
bottom: 0px;
right: 0px;
margin-right: 57px;
margin-bottom: 9px;
}
.percent_dialog{
text-align: center;
list-style: none;
bottom: 0px;
right: 0px;
width: 56px;
max-width:80px;
position: absolute;
font-style: italic;
color: white;
padding: 0px;
margin: 0px;
margin-right: 4px;
margin-bottom: 4px;
background: red;
border: #bbb solid 0;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 5px;
line-height: 25px;
}
@-moz-document url-prefix() {

.percent_arrow{
position: absolute;
border-style: solid;
border-width: 7px 7px 7px 0;
border-color: transparent red;
bottom: 0px;
right: 0px;
margin-right: 60px;
margin-bottom: 14px;
}

.percent_dialog{
text-align: center;
list-style: none;
bottom: 0px;
right: 0px;
width: 56px;
max-width:80px;
position: absolute;
font-style: italic;
color: white;
padding: 0px;
margin: 0px;
margin-right: 8px;
margin-bottom: 8px;
background: red;
border: #bbb solid 0;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 5px;
line-height: 25px;
}
}

@media not all and (-webkit-min-device-pixel-ratio:0) {  
.percent_arrow{
position: absolute;
border-style: solid;
border-width: 7px 7px 7px 0;
border-color: transparent red;
bottom: 0px;
right: 0px;
margin-right: 57px;
margin-bottom: 9px;
}
.percent_dialog{
text-align: center;
list-style: none;
bottom: 0px;
right: 0px;
width: 56px;
max-width:80px;
position: absolute;
font-style: italic;
color: white;
padding: 0px;
margin: 0px;
margin-right: 2px;
margin-bottom: 2px;
background: red;
border: #bbb solid 0;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 5px;
line-height: 25px;
}
}
.button2{
font-weight: bold;
-webkit-border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
-khtml-border-radius: 3px 3px 3px 3px;
border-radius: 3px 3px 3px 3px;
color: #FFFFFF;
font-size:15px; 
margin:0; 
border:0; 
height:40px; 
padding:0px 40px 0px 40px; 
background-color:#ff0000
}

.button2:hover{
background-color:#cc0000
}  