@-moz-document url-prefix() {
   .cart .button, #mc-embedded-subscribe {
padding-bottom: 2px;
}

#mc-embedded-subscribe {

    margin-top: 5px;

}

}

.box .box-content > ul > li ul {
display:block;
}