/* responsive - mobile phone */
@media (max-width: 1023px) {
	#tab-description img, #tab-description iframe {
		width: 100% !important;
		height: auto !important;
	}
	
	#tab-description table {
		width: 100% !important;
	}
}
.mc-modal {
    z-index: 10000 !important;
}